<body>
<textarea id='salida'></textarea>
<audio id='sx' controls="controls" autoplay="autoplay">
	<source id='ax' src="" type="audio/mp3">
</audio>
<script>
// autobuffer="autobuffer" autoplay="autoplay"
/*r=new XMLHttpRequest();
r.open("POST","https://musenet.openai.com/sample");
r.onreadystatechange=function(){
	if(r.readyState===4){
		console.log(r.responseText);
	}
}
d=JSON.stringify({"genre":"video","instrument":{"piano":false,"strings":false,"winds":false,"drums":false,"harp":false,"guitar":false,"bass":false},"encoding":"","temperature":1,"truncation":27,"generationLength":20,"audioFormat":"mp3"});
r.send(d);*/
//animenz,beethoven,tchaikovsky,
var k=2;
var x=0;
//var gens=["video","animenz","video","beethoven","video","tchaikovsky","video","chopin"];
//var toks=[200,100,200,100,200,100,200,100];
var gens=["bach","video"];
var toks=[100,200];
var di={"genre":gens[k],"instrument":{"piano":false,"strings":false,"winds":false,"drums":false,"harp":false,"guitar":false,"bass":false},"encoding":"","temperature":1,"truncation":27,"generationLength":toks[k],"audioFormat":"mp3"};
//di.encoding="1204 1211 1223 3976 71 3977 1228 3977 76 3976 1223 3977 71 3977 1228 3976 76 3977 52 59 1216 1230 3977 78 3976 1223 3977 71 3977 1211 64 1228 3976 76 3977 1230 3977 78 3976 59 1216 1231 3977 79 3977 1223 3976 71 3977 1211 64 1228 3977 76 3976 1231 3977 79 3977 1202 1209 59 1230 3976 78 3977 1221 3977 69 3976 1226 3977 74 3977 1230 3976 78 3977 50 57 1214 1231 3977 79 3976 1221 3977 69 3977 1209 62 1226 3976 74 3977 1230 3977 78 3976 1202 1209 1231 3977 79 3977 1221 3976 69 3977 1226 3977 74 3976 1230 3977 78 3977 50 1204 57 1211 1223 3976 71 3977 1228 3977 76 3976 1223 3977 71 3977 1228 3976 76 3977 52 59 1216 1230 3977 78 3976 1223 3977 71 3977 1211 64 1228 3976 76 3977 1230 3977 78 3976 59 1216 1231 3977 79 3977 1223 3976 71 3977 1211 64 1228 3977 76 3976 1231 3977 79 3977 1202 1209 59 1233 3976 81 3977 1226 3977 74 3976 1230 3977 78 3977 1233 3976 81 3977 50 57 1214 1235";
di.encoding="";
var proceso=false;
function cx(){
	document.getElementById('salida').innerHTML=di.encoding;
	document.getElementById('ax').src="data:audio/mpeg;base64,"+(di.sonido+"").substring(2).slice(0,-1);
	document.getElementById('sx').load();
	//document.getElementById('sx').play();
	//console.log(di.sonido);
	proceso=true;
	fetch("https://musenet.openai.com/sample",{
		"headers": {
			"accept": "*/*",
			"accept-language": "es-ES,es;q=0.9",
			"content-type": "application/json",
			"sec-ch-ua": "\"Google Chrome\";v=\"105\", \"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"105\"",
			"sec-ch-ua-mobile": "?0",
			"sec-ch-ua-platform": "\"Windows\"",
			"sec-fetch-dest": "empty",
			"sec-fetch-mode": "cors",
			"sec-fetch-site": "cross-site"
		},
		"referrer": "https://omega-c.github.io/",
		"referrerPolicy": "strict-origin-when-cross-origin",
		"body": JSON.stringify(di),
		"method": "POST",
		"mode": "cors",
		"credentials": "omit"
	}).then(r=>r.json()).then(d=>{
		di.encoding=d.completions[0].encoding;
		di.sonido=d.completions[0].audioFile;
		k++;
		x++;
		ax++;
		k=k%gens.length;
		di.genre=gens[k];
		di.generationLength=toks[k];
		proceso=false;
	}).catch(e=>{
		console.log("capturado:"+e);
		console.log("x:"+x);
		//proceso=false;
	});
}
setInterval(function(){
	if(!proceso){
		cx();
	}
},100);
</script>
<body>